.song-list-wrap {
  background-color: aquamarine;
  widows: 100%;
  height: 100vh;
  display: flex;
}

.song-list-wrap {
  background-color: #1d1d1d;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.song-list {
  background-color: #1e1e1e;
  width: 100%;
}
.song {
  background-color: #fffaf8;
  border: 1px solid #878787;
  border-radius: 50px;
  padding: 10px;
  width: 80%;
  height: 100px;
  margin: 20px auto;
  display: flex;
  transform: scale(1);
  transition: 0.1s transform;
  cursor: pointer;
}

.song:hover {
  transform: scale(1.04);
}


.song-details {
  flex: 1;
  margin-left: 40px;
}
.song-title {
  font-size: 24px;
}
.song-auth {
  font-size: 18px;
  margin-top: 10px;
}
.difficulty-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}
.difficulty {
  /* border: 1px solid #ff004f; */
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 14px;
  color: #fffaf8;
  background-color: rgba(255, 0, 79, 0.5);
  border-radius: 50%;
  transform: scale(1);
  transition: 0.1s transform;
}

.difficulty:hover {
  background-color: rgba(255, 0, 79, 1);
  transform: scale(1.1);
}
