.game-view {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #1d1d1d;
}
.battle {
  color: #ffffff;
  display: flex;
  font-size: 28px;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  margin-top: 24px;
}

.battle-board {
  text-align: center;
  width: 48%;
  border: 1px solid #878787;
  padding: 10px 0;
}
.score-in-board {
  padding-top: 12px;
}

.canvas-wrap {
  position: relative;
  margin-top: 24px;
  /* display: flex; */
}

#game-canvas {
  margin: 0;
  /* border: 1px solid #1d1d1d; */
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}
.player-canvas {
  margin: 0;
  /* border: 1px solid #1d1d1d; */
  position: absolute;
  top: 0;
  left: 0;
}

.game-buttons {
  width: 100%;
  display: flex;
}
.game-btn {
  width: 25%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
  font-size: 36px;
  font-weight: bold;
  border-radius: 15px;
  color: #ffffff;
  /* border: 1px solid black; */

  font-family: "Palanquin Dark", sans-serif;
}

.btn-d {
  background-color: #3498db;
  border-bottom: 5px solid #2980b9;
  text-shadow: 0px -2px #2980b9;
}
.btn-f {
  background-color: #e74c3c;
  border-bottom: 5px solid #bd3e31;
  text-shadow: 0px -2px #bd3e31;
}
.btn-k {
  background-color: #9fff5b;
  border-bottom: 5px solid #7ecc47;
  text-shadow: 0px -2px #7ecc47;
}

.btn-l {
  background-color: #f9f524;
  border-bottom: 5px solid #cecb18;
  text-shadow: 0px -2px #cecb18;
}

.btn-d-active {
  border-bottom: 2px solid #2980b9;
}

.btn-f-active {
  border-bottom: 2px solid #bd3e31;
}
.btn-k-active {
  border-bottom: 2px solid #7ecc47;
}

.btn-l-active {
  border-bottom: 2px solid #cecb18;
}

.btn-d:active {
  border-bottom: 2px solid #2980b9;
}
.btn-f:active {
  border-bottom: 2px solid #bd3e31;
}
.btn-k:active {
  border-bottom: 2px solid #7ecc47;
}
.btn-l:active {
  border-bottom: 2px solid #cecb18;
}

@media (min-width: 720px) and (max-width: 1023px) {
}

@media (min-width: 480px) and (max-width: 719px) {
  .battle {
    font-size: 26px;
  }
  .game-btn {
    font-size: 18px;
    height: 50px;
    border-radius: 10px;
  }
}

@media (max-width: 479px) {
  .battle {
    margin-top: 16px;
    font-size: 18px;
  }

  .game-btn {
    font-size: 18px;
    height: 40px;
    border-radius: 10px;
  }
}
