.ranking-view {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #1d1d1d;
  
}
.ranking-wrap {
  width: 80%;
  display: flex;
  color:#ffffff;
}

.current-ranking {
  width: 33%;
  font-size: 20px;
  margin-top: 24px;
/* background-color: aqua; */
}
.current-ranking > div {
  margin: 12px 0;
}
.record {
  margin: 24px auto;
  width: 66%;
  /* font-size: 18px; */
}
.row {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 24px;
}
.record-board {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #ffffff;


  /* background-color: yellowgreen; */
}

.title {
  border-bottom: 1px solid #ffffff;
  padding: 18px 0;
  font-weight: bolder;
}

.record-item:nth-child(1) {
  width: 20%;
  /* background-color: #883388; */
}

.record-item:nth-child(2) {
  width: 20%;
  /* background-color: #3300ff; */
}

.record-item:nth-child(3) {
  width: 20%;
  /* background-color: #22f300; */
}
.record-item:nth-child(4) {
  width: 25%;
  /* background-color: #ff0033; */
}

@media (min-width: 768x) and (max-width: 1024px){

  .record-item:nth-child(4) {
    /* width: 25%; */
    background-color: #ff0033;
    /* display: none; */
  }


  .record-item{
    background-color: #ff0033
  }
}
