/* @import url("https://fonts.googleapis.com/css?family=Ubuntu"); */

.ranking-view {
  width: 100%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-color: #1d1d1d;
  /* ------字型-------- */
  font-family: "Ubuntu", sans-serif;
}
.ranking-wrap {
  width: 80%;
  max-width: 1200px;
  display: flex;
  margin-top: 36px;
  color: #ffffff;
}

.current-ranking {
  width: 33%;
  font-size: 32px;
}
.current-ranking-row {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 18px 0;
}
.record {
  margin: 0 auto;
  width: 66%;
  font-size: 18px;
}
.record-board {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

.title {
  border-bottom: 1px solid #ffffff;
  padding: 18px 0;
  font-weight: bolder;
  font-size: 24px;
}

.record-item:nth-child(1) {
  width: 20%;
}

.record-item:nth-child(2) {
  width: 20%;
}

.record-item:nth-child(3) {
  width: 20%;
}
.record-item:nth-child(4) {
  width: 40%;
}

@media (min-width: 720px) and (max-width: 1023px) {
  .ranking-wrap {
    width: 90%;
  }
  .current-ranking {
    width: 40%;
    font-size: 26px;
  }
}

@media (min-width: 480px) and (max-width: 719px) {
  .ranking-wrap {
    flex-wrap: wrap;
    width: 90%;
  }
  .current-ranking {
    width: 100%;
    max-height: fit-content;
    margin: 0 auto;
    border: 1px solid #979797;
    border-radius: 10px;
    padding: 0 40px;
    font-size: 20px;
  }
  .current-ranking-row {
    width: 100%;
  }
  .title {
    font-size: 24px;
  }
  .record {
    width: 100%;
    font-size: 16px;
    /* margin-top: -150px; */
  }
  .record-board {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .ranking-wrap {
    flex-wrap: wrap;
    width: 90%;
  }
  .current-ranking {
    width: 100%;
    max-height: fit-content;
    border: 1px solid #979797;
    border-radius: 15px;
    padding: 0 30px;
    font-size: 18px;
  }
  .current-ranking-row {
    width: 100%;
  }
  .title {
    font-size: 20px;
  }
  .record {
    width: 100%;
    font-size: 16px;
    /* margin-top: -220px; */
  }
  .record-board {
    width: 100%;
  }
}
