.banner {
  width: 100%;
  min-height: calc(100vh - 70px);
  background-image: url("../../img/dj.jpg");
  background-position: center;
  background-size: cover;
  background-color: aquamarine;
  background-repeat: no-repeat;
  position: relative;
}
.enter-wrap {
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  display: flex;
}

.enter-btn {
  margin: auto;
  color: rgba(0, 0, 0, 0.9);
  font-size: 3rem;
  background: rgba(255, 255, 255, 0.8);
  padding: 16px 32px;
  border-radius: 49.5px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.1s transform;
  text-decoration: none;
}
.enter-btn:hover {
  color: rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 1);
  transform: scale(1.03);
}

.enter-btn > a {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 479px) {
  .enter-btn {
    font-size: 2.2rem;
  }
}
