@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark|Ubuntu");
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

a:link {
  text-decoration: none !important;
}

button {
  outline: none;
  border: none;
}
